body { 
    background: #202020;
}
.Button01 {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    background-image: linear-gradient(90deg, #000000 0%, #0099ff 39%, #000000 80%);
    border-radius:50px;
    border-style: none;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    color:#000000;
    font-size:3vw;
    text-shadow: 0px 1px 0px #eaeaea;
    font-weight:bold;
}
.Button01:hover {
    animation:slidebg 2s linear infinite;
}
.Button02 {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    background-image: linear-gradient(90deg, #000000 0%, #0099ff 39%, #000000 80%);
    border-radius:50px;
    border-style: none;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    color:#000000;
    font-size:3vw;
    text-shadow: 0px 1px 0px #eaeaea;
    font-weight:bold;
}
.Button02:hover {
    animation:slidebg 2s linear infinite;
}
.Button02:after{
        content:attr(alt);
        width:20vw;
        height:8vw;
        background-color:#202020;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:50px;
}
@keyframes slidebg {
    to {
      background-position:20vw;
    }
}
.Button03 {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    font-size:3vw;
    font-weight: bolder;
    text-transform: uppercase;
    color:#797979;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid #eaeaea;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
  }
  
  .Button03:after {
    content: "";
    background-color: #006199;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 20px;
    left: 20px;
    transition: 0.2s;
  }
  
  .Button03:hover:after {
    top: 0px;
    left: 0px;
  }
