<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Tricks | Hire a PT today!</title>
    <link rel="stylesheet" href="/layouts/Theme01/theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</head>
<body>
    <div class="banner">
        HIRE A PT TODAY
    </div>
    <div class="wrapper">
        <div class="services">
            <div class="service">
                <h1>Cardio Classes</h1>
                <p>
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam eaque voluptas quas facilis eius, pariatur a inventore laborum sed, sapiente optio quaerat animi suscipit corporis! Aliquam fugit officiis pariatur aut?
                </p>
                <button>Book NOw</button>
            </div>
            <div class="service">
                <h1>Strength Classes</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, repudiandae. Rem, ut voluptates! Iste tempora veniam nisi sint quam. Eligendi eius error tenetur enim aspernatur modi doloremque fugiat atque repudiandae.
                </p>
                <button>Book NOw</button>
            </div>
            <div class="service">
                <h1>Meal Plans</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque consequuntur, asperiores deleniti fugiat aperiam culpa temporibus illo sunt molestias amet error nisi voluptatibus iusto provident odio dolore quam perferendis reprehenderit!
                </p>
                <button>buy NOw</button>
            </div>
        </div>
    </div>
</body>
</html>
